<% if flash[:notice] %>
  <section>
    <h2 class="notice"><i class="fa fa-check-circle"></i> <%= flash[:notice] %></h2>
  </section>
<% end %>

<section>
  <%= render 'form' %>
</section>

<section>
  <%= render 'recent' %>
</section>

<section>
  <%= link_to 'Complete Logbook', contacts_path %>
</section>
