<% if flash[:notice] %>
  <section>
    <p class="notice"><i class="fa fa-check-circle-o"></i> <%= flash[:notice] %></p>
  </section>
<% end %>

<section>
  <%= render 'form' %>
</section>

<section>
  <%= render 'recent' %>
</section>

<section>
  <%= link_to 'Complete Logbook', contacts_path %>
</section>