<% if flash[:notice] %>
<p class="notice"><i class="fa fa-check-circle-o"></i> <%= flash[:notice] %></p>
<% end %>

<%= render 'form' %>

<%= render 'recent' %>

<%= link_to 'Complete Logbook', contacts_path %>