// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

a {
  color: #000;
  &:hover {
    color: #e9002d;
  }
}

header, section, footer {
  margin: 1em;
}

p.notice {
  color: rgb(0,150,0);
}

.field, {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

input[type="text"] {
  text-transform: uppercase;
}

.actions {
  clear: both;
}

table {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 1em;
}

th, td {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0.25em; /* 4px */
}

th {
  background: #eee;
}

th.short, td.short {
  display: none;
}

th.detail, td.detail {
  display: table-cell;
}

.sounder {
  font-size: small;
}

@media only screen and (max-width: 320px) {

  header, section, footer {
    margin: 8px;
  }

  label {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 4px;
  }

  h2 {
    margin-bottom: 8px;
  }

  .action input[type="submit"] {
    width: 100%;
  }

  table {
    font-size: 0.9em;
    margin-bottom: 1em;
    width: 100%;
  }

  th.short, td.short {
    display: table-cell;
  }

  th.detail, td.detail {
    display: none;
  }

}