// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

#container {
  max-width: 960px;
  margin: 2em auto;
}

a {
  color: #000;
  &:hover {
    color: #e9002d;
  }
}

h2 {
  font-size: 1.5em;
}

header, section, footer {
  margin: 1em;
}

p.notice {
  color: rgb(0,150,0);
}

fieldset {
  border: 1px solid #aaa;
  margin: 0;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
}

.field {
  float: left;
  margin-right: 1.25em;
  margin-bottom: 1em;
}

.field.section {
  margin-right: 0;
}

input[type="text"] {
  text-transform: uppercase;
  font-size: 1.25em; /* 20px */
}

input[type="submit"] {
  background: rgba(22,62,140,0.8);
  border: 1px solid rgb(22,62,140);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em 1em;
}

input[type="submit"]:hover {
  background: rgba(22,62,140,0.6);
  border: 1px solid rgba(22,62,140,0.8);
  color: #333;
}

.actions {
  clear: both;
}

table {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin-bottom: 1em;
  font-size: 1.125em; /* 18px */
  width: 100%;
}

th, td {
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  padding: 0.25em; /* 4px */
}

th {
  background: #ccc;
}

tr:nth-child(even) {
  background: #efefef;
}

th.short, td.short {
  display: none;
}

th.detail, td.detail {
  display: table-cell;
}

.sounder {
  font-size: small;
}

@media (max-width: 480px) {

  #container {
    max-width: 480px;
    margin: 0 auto;
  }

  h2, fieldset legend {
    font-size: 1.125em; /* 24px */
  }

  .field {
    float: none;
    margin-right: 0;
  }

  label {
    display: inline-block;
    font-size: 0.875em; /* 14px */
    padding-bottom: 4px;
  }

  input[type="submit"] {
    width: 100%;
  }
  
  table {
    font-size: 0.8em;
    margin-bottom: 1em;
    width: 100%;
  }

  th.short, td.short {
    display: table-cell;
  }

  th.detail, td.detail {
    display: none;
  }

}

@media (max-width: 320px) {

  #container {
    max-width: 320px;
    margin: 0 auto;
  }

  header, section, footer {
    margin: 8px;
  }

  .band, .mode {
    width: 50%;
  }

  .callsign, .classification, .section {
    width: 100%;
  }

  input[type="text"] {
    width: 275px;
  }

  table {
    font-size: 0.8em;
    margin-bottom: 1em;
    width: 100%;
  }

  th.short, td.short {
    display: table-cell;
  }

  th.detail, td.detail {
    display: none;
  }

}